<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Martin Ziserman</title>
  <link href="https://fonts.googleapis.com/css?family=Questrial|Reem+Kufi" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#" class="home" data-target="home">Home</a></li>
      <li><a href="#" class="projects" data-target="projects">Projects</a></li>
      <li><a href="#" class="contact" data-target="contact">Contact</a></li>
    </ul>
  </nav>
  <div id="main">
    <div class="wrapper">
      <section id="home">
        <div class="container">
          <h1>
            Martin Ziserman
          </h1>
          <p>Developper</p>
        </div>
      </section>
      <section id="projects">
        <div class="container">
          <div class="projects_container">
            <div class="projects">
              <% @projects.each do |project| %>
                <div class="project" style="background-color: #<%= project.color %>">
                  <div class="headline">
                    <a href="<%= project.url %>"><h2><%= project.name %></h2></a>
                  </div>
                  <div class="baseline">
                    <div class="description">
                      <h3>Description</h3>
                      <br>
                      <%= project.description %>
                      <br>
                      <br>
                      <br>
                      <h3>Skill used</h3>
                      <% project.domains.each do |domain| %>
                        <br>
                        <h4><%= domain.name %></h4>
                        <br>
                        <% domain.skills.each do |skill| %>
                          <% if project.skills.include? skill %>
                            <%= skill.name %> <br>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="picture_container">
                      <%= image_tag(project.picture) %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="container">
          <%= form_for @offer, url: {action: :create_offer} do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <br><br>
            <%= f.label :entreprise %>
            <%= f.text_field :entreprise %>
            <br><br>
            <%= f.label :url %>
            <%= f.text_field :url %>
            <br><br>
            <%= f.label :message %>
            <%= f.text_field :message %>
            <br><br>
            <%= f.button "Submit" -%>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</body>
</html>