<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Martin Ziserman</title>
  <link href="https://fonts.googleapis.com/css?family=Questrial|Reem+Kufi" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#" class="home" data-target="home">Home</a></li>
      <li><a href="#" class="projects" data-target="projects">Projects</a></li>
      <li><a href="#" class="skills" data-target="skills">Skills</a></li>
      <li><a href="#" class="contact" data-target="contact">Contact</a></li>
    </ul>
  </nav>
  <div id="main">
    <div class="wrapper">
      <section id="home">
        <div class="container">
          <h1>
            Martin Ziserman
          </h1>
          <p>Developper</p>
        </div>
      </section>
      <section id="projects">
        <div class="container">
          <div class="projects_container">
            <div class="projects">
              <% @projects.each do |project| %>
                <div class="project" style="background-color: #<%= project.color %>">
                  <div class="headline">
                    <h2><%= project.name %></h2>
                    <% unless project.url.blank? %>
                      <a href="<%= project.url %>">Online version</a>
                    <% end %>
                  </div>
                  <div class="baseline">
                    <div class="description">
                      <h3>Description</h3>
                      <br>
                      <%= project.description %>
                      <br>
                      <br>
                      <br>
                      <h3>Skill used</h3>
                      <% project.domains.each do |domain| %>
                        <br>
                        <h4><%= domain.name %></h4>
                        <br>
                        <% domain.skills.each do |skill| %>
                          <%= skill.name %> <br>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="picture_container">
                      <img src="<%= project.picture %>" alt="">
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
      <section id="competences">
        <div class="container">
          
        </div>
      </section>
      <section id="contact">
        <div class="container">
          
        </div>
      </section>
    </div>
  </div>
</body>
</html>