<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Martin Ziserman</title>
</head>
<body>
  <div id="main">
    <div class="wrapper">
      <section id="home">
        <div class="container">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <div class="title-container name">
            <h1>
              Martin Ziserman
            </h1>
          </div>
          <div class="presentation">
            <p>Freelance developer based in Paris and 4th year Hetic student.</p>
            <p>I am currently looking for an internship ( from July to December), feel free to contact me.</p>
          </div>
          <div class="title-container">
            <h1>
              Selected projects
            </h1>
          </div>
          <% @projects.each do |project| %>
            <a class="project-link" href="<%= project.url %>"><p><span class="project"><%= project.name %></span><span class="space"></span><span class="skills"><%= project.skills.pluck(:name).to_sentence %></span></p></a>
          <% end %>
          <div class="contact-container">
            <a href="mailto:martinziserman@gmail.com"><span class="contact">CONTACT</span></a> - <a href="https://github.com/MZiserman/"><span class="github">GITHUB</span></a>
          </div>
        </div>
      </section>
</body>
</html>